<launch>

   <arg name="model" />
   <param name="robot_description" textfile="$(find drobo_description)/urdf/drobo.urdf"/>
   <param name="use_gui" value="true"/>
   <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
   <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
   <node name="rviz" pkg="rviz" type="rviz" args = "-d $(find drobo_description)/rviz/drobo.rviz"/></node>
   
</launch>
